<div class="container signin-form">
	<form role="form" ng-submit="signIn()">
		<h1>Log ind</h1>
		<h3>Benyt dit login til Nationalmuseet's Cumulus</h3>
		<input
			name="username"
			ng-model="username"
			type="text"
			class="form-control"
			placeholder="Cumulus brugernavn"
			required autofocus>
		<input
			name="password"
			ng-model="password"
			type="password"
			class="form-control"
			placeholder="Kodeord"
			required>
		<button
			ng-click="signin"
			class="btn btn-lg btn-primary btn-block"
			ng-class="{disabled: busy}"
			>Log ind</button>
		<div class="progress" ng-show="busy">																																		
		  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
		  </div>
		</div>
	</form>
</div>