<div class="suggestion">
	<div class="controls">
		<span class="glyphicon glyphicon-trash delete-btn"></span>
	</div>
	<div class="arrow">
		<span class="glyphicon glyphicon-arrow-right"></span>
	</div>
	<div class="image" >
		<img src="{{thumbnail_url}}">
	</div>
</div>