@suggestion_height: 106px;

.navbar .asset-information {
	line-height: @navbar-height;
	height: @navbar-height;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container.asset {
	padding-top: @navbar-height*1.2;

	@media (max-width: @screen-sm-min) {
		padding-top: @navbar-height*2.2;
	}

	#cropping-status {
		float: right;
		clear: right;
		span {
			display: inline-block;
			padding: 5px;
		}
	}

	&.cropping-status-1 {
		#croppings-title, #croppings {
			display: none;
		}
		#cropping-status span {
			color: @btn-info-color;
			background: @btn-info-bg;
			border: 1px solid @btn-info-border;
		}
	}

	&.cropping-status-2, &.cropping-status-3 {
		#cropping-status span {
			color: @btn-success-color;
			background: @btn-success-bg;
			border: 1px solid @btn-success-border;
		}
	}

	&.cropping-status-1, &.cropping-status-2 {
		#master, #master-title {
			display: none;
		}
	}

	&.cropping-status-3 {
		#croppings, #croppings-title, #state-controls-title, #state-controls, #suggestions-title, #suggestions, #cropping-controls {
			display: none;
		}
	}

	hr {
		clear: both;
	}

	.canvas {
		position: relative;

		#outlines {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;

			.mask {
				fill: fade(black, 50%);
			}

			.handle {
				fill: transparent;
			}

			.corner {
				fill: transparent;
			}

			.handle-south-west {
				cursor:sw-resize;
			}
			.handle-south-east {
				cursor:se-resize;
			}
			.handle-north-west {
				cursor:nw-resize;
			}
			.handle-north-east {
				cursor:ne-resize;
			}
			.handle-south {
				cursor:s-resize;
			}
			.handle-east {
				cursor:e-resize;
			}
			.handle-north {
				cursor:n-resize;
			}
			.handle-west {
				cursor:w-resize;
			}

			.outline {
				position: absolute;
				fill: fade(@brand-primary, 10%);
				stroke-width: 1;
				stroke: @brand-primary;
				cursor: pointer;
				z-index: 100;
				&.hover {
					fill: fade(@brand-primary, 25%);
				}
				&.selected {
					stroke-dasharray: 10 5;
					cursor: move;
					z-index: 200;
					fill: transparent;

					@-webkit-keyframes dash-walk {
						from { stroke-dashoffset: 0; }
						to { stroke-dashoffset: 15; }
					}

					@-moz-keyframes dash-walk {
						from { stroke-dashoffset: 0; }
						to { stroke-dashoffset: 15; }
					}
					
					-webkit-animation-name: dash-walk;
					-webkit-animation-duration: 0.5s;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
					-webkit-transition-property: all;

					-moz-animation-name: dash-walk;
					-moz-animation-duration: 0.5s;
					-moz-animation-iteration-count: infinite;
					-moz-animation-timing-function: linear;
					-moz-transition-property: all;
				}
			}
		}
		img#asset {
			display: block;
			margin: auto;
			/*
			padding: 3px;
			border: 1px solid #D0D0D0;
			*/
			background-color: #F0F0F0;
			width: 100%;
		}
		&.editing {
			.outlines {
				display: none;
			}
		}

		#asset-algorithm-states {
			display: none; /* Hidden by default */
			overflow: hidden;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 15px;
			right: 15px;
			img {
				position: absolute;
				display: block;
				width: 100%;
				margin: auto;
			}
		}
	}

	.sidebar-box {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border: 0;
		border-bottom: 1px solid #eeeeee;
	}

	#master {
		img {
			width: 100%;
		}
	}

	#suggestions {
		text-align: center;
		.suggestion {
			border: 1px solid #DDD;
			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
			background-color: #EEE;
			margin-bottom: 10px;
			position: relative;
			display: block;
			min-height: @suggestion_height;
			line-height: @suggestion_height;
			top: 0px;
			cursor: pointer;

			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			.image {
				position: relative;
				display: inline-block;
				border: 1px solid #C0C0C0;
				background-color: #D0D0D0;
				vertical-align: middle;
				overflow: hidden;
				left: 10px;
				img {
					position: absolute;
				}
			}
			.controls {
				line-height: initial;
				float: right;
				height: 100%;
				padding: 8px;
				.glyphicon {
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;

					clear: right;
					float: right;
					margin-top: 3px;
					margin: 0.2em;

					cursor: pointer;
				}
				.glyphicon:hover {
					font-size: 1.4em;
					margin: 0em;
				}
			}
			.arrow {
				color: @brand-primary;

				position: absolute;
				opacity: 1.0;
				left: -1em;
				top: 0;

				line-height: @suggestion_height;
				font-size: 2em;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&.ng-hide {
					opacity: 0.0;
					left: 0;
				}
			}
		}
	}

	#croppings {
		img {
			height: 100px;
			padding: 2px;
			margin-bottom: 4px;
			border: 1px solid #C0C0C0;
			background-color: #D0D0D0;
		}
	}

	#state-controls a {
		cursor: pointer;
	}
}