<div class="suggestion"
	ng-mouseenter="cropping.hovering=true"
	ng-mouseleave="cropping.hovering=false"
	ng-click="selectCropping(cropping);$event.stopPropagation();">
	<div class="image" ng-style="{
			'width': cropping_thumbnail_container.width,
			'height': cropping_thumbnail_container.height,
			'margin-top': cropping_thumbnail_container.margin.top,
			'margin-left': cropping_thumbnail_container.margin.left,
			'margin-right': cropping_thumbnail_container.margin.right,
			'margin-bottom': cropping_thumbnail_container.margin.bottom
		}" >
		<img ng-src="{{ asset.getThumbnailURL() }}" ng-style="{
			'width': cropping_thumbnail.width,
			'height': cropping_thumbnail.height,
			'left': cropping_thumbnail.left,
			'top': cropping_thumbnail.top,
			'transform': cropping_thumbnail.transform,
			'transform-origin': cropping_thumbnail.transform_origin
		}">
	</div>
	<div class="controls" ng-show="cropping.hovering">
		<button class="btn btn-danger delete-btn">
			<span class="glyphicon glyphicon-trash"
				ng-click="removeCropping(cropping);$event.stopPropagation();"></span>
		</button>
	</div>
	<div class="arrow" ng-show="cropping.selected||cropping.hovering">
		<span class="glyphicon glyphicon-arrow-right"></span>
	</div>
</div>