<div class="state">
	<div
		ng-repeat="job in state.jobs"
		class="alert job"
		ng-class="{
			'alert-info': job.status!=='failed' && job.status!=='success',
			'alert-success': job.status==='success',
			'alert-danger': job.status==='failed'
		}"
		role="alert">
		<span
			class="glyphicon glyphicon-remove pull-right"
			aria-hidden="true"
			ng-click="dismissJob(job.id)"></span>
		<p>{{job.description}}</p>
		<ol class="tasks">
			<li
				ng-repeat="task in job.tasks"
				ng-if="task.progress<task.progressMax"
				class="task">
				<small>{{ task.description }}</small>
				<div class="progress">
					<div
						class="progress-bar"
						role="progressbar"
						aria-valuenow="{{task.progress}}"
						aria-valuemin="0"
						aria-valuemax="{{task.progressMax}}"
						style="width: {{task.progress/task.progressMax*100}}%">
						<span class="sr-only">{{task.progress/task.progressMax*100}}% Complete</span>
					</div>
				</div>
			</li>
		</ol>
	</div>
</div>
