{{#javascripts}}
lib/handlebars-v2.0.0
overview
{{/javascripts}}

{{#stylesheets}}
overview
{{/stylesheets}}

{{#partial_source}}overview-asset{{/partial_source}}

<body id="overview-template" class="searching">
	{{> searchbar}}

	<div class="container">
		<div id="assets">
		</div>
	</div>

	<div id="searching-status" class="modal-status">
		<div class="icon">
			<span class="glyphicon glyphicon-refresh"></span>
		</div>
		<div class="text">{{{__ "Searching ..."}}}</div>
	</div>

	<div id="empty-result-status" class="modal-status">
		<div class="icon">
			<span class="glyphicon glyphicon-ban-circle"></span>
		</div>
		<div class="text">
			<p>{{{__ "No assets found :("}}}</p>
			<p>{{{__ "Please try another search term or catalog."}}}</p>
		</div>
	</div>
</body>