{{#javascripts}}
signin
{{/javascripts}}

<body id="signin-template">
	<div class="container">
		<form class="form-signin" role="form">
			<h1>{{{__ "Login using your Cumulus credentials"}}}</h1>
			<input name="username" type="text" class="form-control" placeholder="{{{__ "Username"}}}" required autofocus>
			<input name="password" type="password" class="form-control" placeholder="{{{__ "Password"}}}" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">{{{__ "Login"}}}</button>
		</form>
	</div>
</body>