@import "bootstrap.less";

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

form {
	word-wrap: break-word;
}

#logout-btn {
	float: right;
	margin-left: 10px;
}

/* signin.hjs */
body#signin-template {
	.form-signin {
		display: none;
		width: 40%;
		margin: auto;
		input[name=username] {
		  margin-bottom: -1px;
		  border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;
		}
		input[name=password] {
		  margin-bottom: 10px;
		  border-top-left-radius: 0;
		  border-top-right-radius: 0;
		}
		.checkbox {
		  font-weight: normal;
		}
	}
}

/* overview.hjs */
body#overview-template {
	#assets .asset {
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;

		.loading-spinner {
			position: absolute;
			left: 15px;
			top: 15px;
			right: 15px;
			bottom: 15px;
			opacity: 0.33;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-color: #000;
			background-image: url("../images/loading.gif");
		}
		.suggestions, .metadata {
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 15px;
			text-align: center;
			overflow: hidden;
		}
		.metadata {
			padding: 3px;
			color: black;
			font-size: 0.8em;
			background-color: fade(#FFF, 50%);
			margin: 1px; // To clear the assets border
			.suggestion_count {
				color: #EEE;
				background-color: fade(@brand-primary, 80%);
				border: 1px solid @brand-primary;
				border-radius: 50%;
				width: 1.5em;
				display: inline-block;
				text-align: center;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
				float: right;
			}
		}
		.suggestions {
			top: 15px;
			margin: 4px; /* image padding + border */
			.suggestion {
				position: absolute;
				border: 1px solid @brand-primary;
				background-color: fade(@brand-primary, 25%);
			}
		}
		img {
			display: block;
			width: 100%;
			padding: 3px;
			border: 1px solid #D0D0D0;
			background-color: #F0F0F0;
			box-shadow: 0px 5px 10px #D0D0D0;
			min-height: 50px;
		}
		opacity: 0.5;
		&.needs-cropping {
			opacity: initial;
		}
	}
}

/* asset.hjs */
@suggestion_height: 106px;

body#asset-template {
	h1, h2 {
		float: left;
		clear: left;
	}

	#back {
		float: right;
	}

	hr {
		clear: both;
	}

	.canvas {
		.outlines {
			position: absolute;
			left: 15px;
			right: 15px;
			top: 0;
			bottom: 0;
			.outline {
				position: absolute;
				border: 1px solid @brand-primary;
				cursor: pointer;
				background-color: fade(@brand-primary, 10%);
				&.hover {
					background-color: fade(@brand-primary, 25%);
				}
			}
		}
		img#asset {
			display: block;
			margin: auto;
			/*
			padding: 3px;
			border: 1px solid #D0D0D0;
			*/
			background-color: #F0F0F0;
			width: 100%;
		}
		&.editing {
			.outlines {
				display: none;
			}
		}

		#asset-algorithm-states {
			display: none; /* Hidden by default */
			overflow: hidden;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 15px;
			right: 15px;
			img {
				position: absolute;
				display: block;
				width: 100%;
				margin: auto;
			}
		}
	}

	.sidebar-box {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border: 0;
		border-bottom: 1px solid #eeeeee;
	}

	#master {
		img {
			width: 100%;
		}
	}

	#suggestions {
		text-align: center;
		.suggestion {
			border: 1px solid #DDD;
			box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
			background-color: #EEE;
			margin-bottom: 10px;
			position: relative;
			display: block;
			min-height: @suggestion_height;
			line-height: @suggestion_height;
			top: 0px;

			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			img {
				padding: 2px;
				margin: 4px;
				border: 1px solid #C0C0C0;
				background-color: #D0D0D0;
			}
			.controls {
				line-height: initial;
				float: right;
				height: 100%;
				padding: 8px;
				button {
					clear: right;
					float: right;
					margin-top: 3px;
				}
			}
			.arrow {
				color: @brand-primary;
				opacity: 0.0;
				position: absolute;
				top: 0;
				left: 0;
				line-height: @suggestion_height;
				font-size: 2em;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			&.hover, &.editing {
				box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
				.arrow {
					opacity: 1.0;
					left: -1em;
				}
				img {
					border-color: @brand-primary;
				}
			}
		}
	}

	#croppings {
		img {
			height: 100px;
			padding: 2px;
			margin-bottom: 4px;
			border: 1px solid #C0C0C0;
			background-color: #D0D0D0;
		}
	}

	#state-control a {
		cursor: pointer;
	}
}